* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

input {
  font-size: 1rem;
}

.p {
  width: 200px;
  text-align: center;
}

form {
  width: 600px;
  height: 55px;
  display: flex;
}

.style {
  padding-bottom: 40px;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
  margin-top: 1rem;
  gap: 0.25rem
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
}

.card > .header {
  margin-bottom: 0.25rem;
}

.card > .body {
  font: size 0.8rem;
  color: #777;
}

.h1 {
  text-align: center;
  margin-top: 10px;
}

.hide {
  display: none;
}

.photo {
  margin-top: 20px;
}

.tablez {
  margin: center;
  position: absolute;
  text-align: center;
  margin-left: 375px;
  width: 50%;
  height: 25%;
}
